.button {
    border: 1px solid black;
    margin: 5px;
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    -moz-user-select: none;
    background-color: #555;
    color: white;
    user-select: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button.on {
    background-color: green;
    box-shadow: none;
}
